/*  Jason Merrill
	Frank Serrano
	Amber Mosier
	CS 300-2*/
	
* {font-family: Tahoma, Geneva, sans-serif;
}

body{
	margin: 0 auto;
	width: 100%;
}

#sun{
	
    position: absolute;
    margin-left: 15%;
    top: 0;
    width: 80%;
    height: auto;
    opacity: 0.15;
    z-index: -1;
}	
	
header{
	width: 100%;
	height: 85px;
	margin: 0 auto;
	background: #408000;
	position: fixed;
	top: 0;
	border-bottom: 5px solid #b7c996;
	font-family:"Comic Sans MS", cursive, sans-serif;
	z-index: 1;
	padding-top: 15px;
	padding-bottom: 25px;
}

h1 {
  font-family:"Comic Sans MS", cursive, sans-serif;
  padding-top: 0;
  font-style: narrow;
  font-size: 70px;
  color: #ffffcc;
  Margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  

}	
	

#nav_bar ul{
	list-style-type: none;
	height: 100%;
	overflow: auto;
	position: fixed;
	margin: 128px 0 0 0;
	padding: 0;
	
}
	

#nav_bar a {
	display: block;
    color: #ffffcc;
    background-color: #cc7a00;
    height: auto;
    width: 45%;
    padding: 13% 2.5em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
a:link {
    text-decoration: none;
}
#nav_bar li a:hover {
    background-color: #e68a00;
    color: #f0dcdf;
}
	/*changed the position to relative*/
#m1{
	float: left;
	vertical-align: middle;
	padding-left: 2%;
	width: 200px;
}

.empty{
	float: left;
	width: 100%;
	height: 30%;
	text-align: center;
}
.clthPrd{
	
	padding-left: 190px;
	padding-top: 130px;

}

.itemBox{
	float: left;
	border: 1px solid black;
	width: 40%;
	height: 30%;
	margin: 2%;
	margin-left: 5%;
}

.clthPrd img{
	float: left;
	margin: .5%;
	height: 98%;
	width: 50%;
}

.clthPrd p::first-letter{
	font-size: 150%;
	color: Green;
}

.accPrd{
	
	padding-left: 190px;
	padding-top: 130px;

}

.accPrd p::first-letter{
	font-size: 150%;
	color: Green;
}

.accPrd img{
	float: left;
	margin: .5%;
	height: 98%;
	width: 50%;
}

#cart {
	float: left;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 190px;
	margin-bottom: 2%;


}

#cart p{
	width: 80%;	

}

#cart p::first-letter{
	font-size: 150%;
	color: Green;
}

#items p{
	text-align: center;
	font-size: 150%;
	padding-top: 3%;
}

#totals{
	float: right;
	width: 10%;
}


#userInfo{
	display:inline-block;
	width:80%;
	margin-left: 15%;
}

#userInfo p::first-letter{
	font-size: 150%;
	color: Green;
}


#payment {
	float:left;
	display:block;
	border: thin solid;
	padding-left: 1%;
	height: 60%;
	width: 45%;
}

#shipping {
	float:right;
	display:block;
	border: thin solid;
	padding-left: 1%;
	height: 60%;
	width: 45%;
}

#thx {
	float: left;

	position: relative;
	margin: 1% 15%;
	margin-bottom:5%;
	height: 30%;
	width: 78.9%;
	padding-left: 1%;
	text-align:center;
}

#thx p::first-letter{
	font-size: 150%;
	color: Green;
}

.cartItem{
	width: 100%;
	height: 25%;
	border: 1px solid black;
	margin: 2%;
	position: relative;
}

.cartItem img{
	float: left;
	width: 20%;
	height: 100%;
}

.cartItem p{
	width: 55%;
	height: 100%;
}

.cartItem input{
	position: absolute;
	bottom: 5px;
	right: 5px;
}



form{
	
	text-align: right;
	
}

form label{

}

form input{
	padding-right: 20%;
	margin-right:10%;

}

input[type="button"] {
	color: #ffffcc;
	background-color: #cc7a00;
	border-radius: 10px;
	
}

input[type="button"]:hover {
	background-color: #e68a00;
    color: #f0dcdf;
	
}

input[type="submit"] {
	color: #ffffcc;
	background-color: #cc7a00;
	border-radius: 10px;
	padding: 1%;
	
}

input[type="submit"]:hover {
	background-color: #e68a00;
    color: #f0dcdf;
	
}


footer{
	background-color: #ffff99;
	padding-top: 40px;	
	color:#408000;
	clear: left;

}

footer table{
	width: 100%;
	padding-left: 20px;
	padding-bottom: 30px;
	padding-left: 17%;
}
footer th{
	color: #408000;
	font-size: 80%;
	text-align: left;
	
}
footer td{
	color: #408000;
	font-size: 60%;
}
footer a:link{
	color: #408000;
	text-decoration: none;
}
footer p{
	border-top: thin solid #006400;
	font-size: 55%;
	padding-top: 10px;
	padding-left: 17%;
	padding-bottom: 10px;
}
